* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid 1px red;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;

}

.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 9%;
    max-width: 1300px;
    padding: 0.5%;
}

.nombre {
    display: flex;
    margin-top: 0.5%;
    flex: 1;
}

.nombre a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
}

.contenedor_img {
    display: flex;
    flex: 1;
    width: 100%;

}

.contenedor_img img {
    width: 100%;
}

.contenedor_nombre {
    display: flex;
    flex: 3;
}

.contenedor_nombre h1 {
    color: white;
}

.resaltado {
    color: orange;
}

.nav-links {
    display: flex;
    justify-content: end;
    flex-direction: row;
    text-align: center;
    margin-top: 1%;
    flex: 1;
}

.link {
    flex: 1;
    background-color: rgb(49, 49, 49);
    border: none;
    margin-left: 2%;
    border-radius: 10px;
    max-width: 100px;
    max-height: 25px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    transition: transform 0.5s ease;
}

.link a:hover {
    color: orange;
    transform: scale(1.5);
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 4.5%;
    text-align: center;
    gap: 50px;
    background-color: bisque;
}

.portada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 150px;
    max-height: 150px;
    padding: 1%;
    background-color: orange;
}

.portada-contenido {
    display: flex;
    flex-direction: column;
    gap: 10%;
    color: white;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.tarjeta h2 {
    margin-bottom: 1%;
}

.contenido-grid {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.texto {
    flex: 6;
    padding: 2%;
    outline: solid 3px gray;
    border-radius: 10px;
    background-color: white;
}

.texto p {
    font-size: 100%;
}

.contenedor-imagen {
    flex: 2;
    padding: 2%;
    width: auto;
    border-radius: 10px;
    outline: solid 3px rgb(189, 189, 189);
    background-color: white;
}

.contenedor-imagen img {
    width: 100%;
}

.grid-habilidades{
    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 1%;
    transition: transform 0.3s ease;
}

.habilidad-card{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    outline: solid 2px gray;
}

.grid-habilidades :hover{
    transform: scale(1.1);
}

.contenido-experiencias{
    display: flex;
    flex-direction:row;
    gap: 5%;
}

.institucion{
    margin: 1%;
    color: crimson;
}

.grid-proyectos{
    display: flex;
    flex-direction: column;
}

.proyecto-card{
    background-color: white;
    padding: 1%;
    outline: solid 3px gray;
    border-radius: 10px;
}
.contenedor-proyecto{
    border-radius: 10px;
    outline: solid 1px ;
}